.w-100{
    width: 100%;
}
body{
    font-family: 'HK grotesk';
    margin: 0;
}
.header_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.flex{
    display: flex;
    align-items: center ;
}

.weather_date{
    margin: 0px 0px 0px 8px;
    font-family: "HK Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.34285715222358704px;
    text-align: left;
    color: #003B5C
}
.weather_city{
    margin: 0px 0px 0px 8px;
    font-family: "HK Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.34285715222358704px;
    text-align: left;
    color: #5D534F;
}

.header_right_search{
    text-decoration: none;
    font-family: "HK Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.34285715222358704px;
    text-align: left;
    color: #003B5C;
    margin-right: 38px;
     }

.header_right_about{
    text-decoration: none;
    font-family: "HK Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.34285715222358704px;
    text-align: left;
    color: #003B5C;
    margin-right: 38px;

}

.big_post{
    margin-bottom: 230px;
}
.line{
    border: 1px solid #E3DACC80;
margin: 21.5px 0px 15px 0px;
}

.menu__item{
    text-align: center;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}

.list__menu{
    font-family: HK Grotesk;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #003B5C;
text-decoration: none;
}


.post{
    display: flex;


}

.second_left_post{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 520px;
    margin: 0px 117px 0px 117px;
    position: absolute;
    top: 90%;
    background-color: white;
}

.text_post{
    display: flex;
    justify-content: center;
}

.title_text{
    font-family: "HK Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: #003B5C ;
}

.car_text{
    font-family: "HK Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: #5D534F;

}

.second_text{
    display: flex;
    justify-content: center;
    font-family: "Libre Baskerville";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #003B5C;
    width: 90%;
    margin: 0px;
}

.second_description_text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_form{
    width: 502px;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #5D534F;
    

}

.square_post{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 30px;
}

.post_two{
    display: flex;
    justify-content: flex-end;
}

.right_post{
    height:335px; 
}
.right_post img{
    max-height: 100%;
}

.text_form_two{
    width: 490px;
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #5D534F;
}

.three_text{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.fourth_text{
    font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 15px;
letter-spacing: 0.39896801114082336px;
text-align: center;
color: #E74832;
}

.title_text_two{
    font-family: "HK Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: #003B5C ;
}

.alcool_text{
    font-family: "HK Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: #5D534F;
}

.text_post_right{
        display: flex;
        justify-content: center;
    }

    .second_text_two{
        display: flex;
        justify-content: center;
        font-family: "Libre Baskerville";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 39px;
        letter-spacing: -0.4000000059604645px;
        text-align: center;
        color: #003B5C;
        width: 99%;
        margin: 0px;
    }

    .three_text_two {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .fourth_text_two{
        font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.39896801114082336px;
    text-align: center;
    color: #E74832;
    }

    .second_right_post{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 480px;
        margin: 0px 10px 0px 20px;
        position: absolute;
        top: 62%;
        background-color: white;
    }

    .second_description_text_two{
        display: flex;
        justify-content: center;
        align-items: center;

    }

.line_logo{
    border: 1px solid #E5DBD1;
    width: 42%;
    margin: 0px 1% 0px 1%;
}

.logo_title{

    color: #003B5C;
    border: 1px solid #E5DBD1;
    padding: 10px 30px;
    margin: 0px 0px;
    box-shadow: 2px 2px #e5dbd1;
    font-weight: 500;
    margin-top: 10px;
}

.big_line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.line_space{
    display: flex;
    justify-content: center;

}

.text_description1{

    margin-left: 40px;
    margin-top: 0;
    color: rgba(79, 77, 77, 0.6);
    font-size: 12.031px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.4px;

}

.see_1{
    margin-left: 650px;
}

.line_description{
    justify-content: flex-end;
    display: flex;
}

.see{

    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.398968px;

color: #E74832;

}

.big_img{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 450px;
}
.big_post_img{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 697px;

}
.first_post_title{
    display: flex;
    text-align: center;
    
}

.style_text_post{
    
font-style: normal;
font-weight: normal;
font-size: 12.031px;
line-height: 15px;
letter-spacing: 0.4px;
text-transform: uppercase;

color: #003B5C;

}

.style_text_two{
    
font-style: normal;
font-weight: normal;
font-size: 12.031px;
line-height: 15px;
letter-spacing: 0.4px;

color: #5D534F;

mix-blend-mode: normal;
opacity: 0.6;
}

.first_post_description{
    font-family: Libre Baskerville;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 31px;
letter-spacing: -0.4px;
width: 406px;
color: #003B5C;
}

.description_post_space{
    margin: 0px;
}

.first_post_about{

font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: 0.398968px;
color: #E74832;
align-items: center;
display: flex;
}

.space_arrow{
    margin-right: 10px;
}

.big_section{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 54px;
    height: 665px;
    text-align: center;
}

.big_content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.big_content h1:first-of-type{
    font-size: 52px;
    font-weight: normal;
    font-style: normal;
}

.big_content h1:last-of-type{
    font-size: 52px;
    justify-content: space-around;
    font-style: normal;
    font-weight: normal;

}

.title_newsletter{
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 54px;
/* identical to box height, or 104% */

    text-align: center;
    letter-spacing: -0.866667px;

    color: #FFFFFF;
}

.desc_newsletter{
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
/* or 141% */

    text-align: center;
    letter-spacing: -0.4px;

    color: #FFFFFF;

}

.btn{
    text-transform: uppercase;
    font-family: "HK Grotesk";
    font-style: normal;
    font-weight:600;
    font-size: 15.031px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.499742px;
    color: #003B5C;
    background-color: white;
    border: 1px solid #E5DBD1;
    padding: 15px 56px;
    box-shadow: 5px 5px #E74832

}

.text_description2{
    margin-left: 15px;
    margin-top: 0;
    
    font-size: 12.031px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.4px;
    color: rgba(79, 77, 77, 0.6);


}

footer{
    width: 100%;
    background: rgba(231, 72, 50, 1);
    height: 390px;
    color: white;

}

.footer_img{
    width: 285px;
    height: 138px;
}

.footer_principal{
    display: flex;
    justify-content: space-evenly;
    padding-top: 65px;
    padding-bottom: 45px;
}

.propos{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height, or 118% */

    letter-spacing: -0.55px;

    color: #FFFFFF;

}

.text_propos{
    font-style: normal;
font-weight: normal;
font-size: 12.031px;
line-height: 15px;
letter-spacing: 0.4px;
text-decoration: none;
color: #FFFFFF;
text-transform: uppercase;

}

.categorie{
    display: grid;
}

.btn1{
    Width: 179px;
    display: flex;
    text-decoration: none;
    color: white;
    background: #E74832;
    transition: 0.5s;
    box-shadow: 4px 4px 0 white;
    border: 1px solid white;
    padding-top: 13px;
    padding-bottom: 13px;
    justify-content: center;
     }

     .img_footer{
         width: 12px;
         height: 22px;
     }

.img_footer1{
    width: 23px;
    height: 17px;
}

.img_footer2{
    width: 17.3px;
    height: 17.3;
}

.icon{
    margin-left: 15px;
}

.hr{
    margin-left: 45px;
    margin-right: 45px;
}

.mentions{
    float: left;
    margin-left: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 12.031px;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: #FFFFFF;

}
.silver{
    float: right;
    margin-right: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 12.031px;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: #FFFFFF;

}

  /* .burger__menu {
    width: 50px;
    height: 25px;
    position: relative;
    justify-content: space-between;
    display: none;
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
}

.burger__menu .line {
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    transition: 0.3s all;
}

.burger__menu .line:first-of-type {
    top: 0%;
}

.burger__menu .line:last-of-type {
    bottom: 0%;
}

.burger__menu .line:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger__menu.active .line:first-of-type {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
}

.burger__menu.active .line:last-of-type {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
}

.burger__menu.active .line:nth-of-type(2) {
    opacity: 0;
}

.burger__menu-bis {
    width: 50px;
    height: 25px;
    position: relative;
}

.burger__menu-bis .line {
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.burger__menu-bis::before {
    content: "";
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    top: 0%;
}

.burger__menu-bis::after {
    content: "";
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: 0%;
}

.burger__menu-bis .line {
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.burger__menu-ter {
    width: 50px;
    height: 25px;
    position: relative;
}

.burger__menu-ter span {
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
}

.burger__menu-ter span:first-of-type {
    top: 0%;
}

.burger__menu-ter span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger__menu-ter span:last-of-type {
    bottom: 0%;
}

.menu.active {
    right: 0%;
}

.menu__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #ffffff85;
    z-index: 999;
    display: none;
}

.menu__overlay.active {
    display: block;
}

.stop-scroll {
    overflow: hidden;
     }   */

@media(max-width:500px){

 /* .burger__menu {
        display: block;
         } */
    
.header_nav{
    display: block;
    
}
.sec_nav{
    margin-left: 0.5em;
    margin-top: 0.5em;
}
.header_right{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    
}

.navbar_logo{
    text-align: center;
    margin-top: 1em;
}
.header_right_about,
.header_right_search{
    padding: 0;
}


.menu__item{
    justify-content: space-around;
}
.list__menu{
    padding: 0;
}
.big_post,
.square_post,
.second_text,
.text_form,
.second_left_post,
.img_size,
.nav__menu,
.menu__item,
.second_right_post,
.second_text_two,
.text_form_two{
    width: 100%;
}
.square_post{
    display: block;
}
.big_post{
    margin-bottom: 80%;
}
.img_size{
    height: auto;
}
.second_left_post,
.second_right_post{
   
    margin: 0;
    position: inherit;

}

.big_img{
    margin-bottom: 760px;
}
.big_img,
.big_post_img{
    width: 100%;
}
.big_post_img{
    display: block;
}
.see_1{
    margin: 0;
}
.button_tel{
    display: none;
}
.first_post_description{
    width: 100%;
}

.footer_img{
    display: none;
}
.mentions{
    margin-left: auto;

}
.silver{
    margin-right: auto;
}




}   

@media(max-width:1024px) and (min-width:528px){
 
    .header_nav{
        display: block;
        
    }
    .sec_nav{
        margin-left: 0.5em;
        margin-top: 0.5em;
    }
    .header_right{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 1em;
        display: flex;
        justify-content: space-around;
        
    }
    
    .navbar_logo{
        text-align: center;
        margin-top: 1em;
    }
    .header_right_about,
    .header_right_search{
        padding: 0;
    }
    
    
    .menu__item{
        justify-content: space-around;
    }
    .list__menu{
        padding: 0;
    }
    .big_post,
    .square_post,
    .second_text,
    .text_form,
    .second_left_post,
    .img_size,
    .nav__menu,
    .menu__item,
    .second_right_post,
    .second_text_two,
    .text_form_two{
        width: 100%;
    }
    .square_post{
        display: block;
    }
    .big_post{
        margin-bottom: 5%;
    }
    .img_size{
        height: auto;
    }
    .second_left_post,
    .second_right_post{
       
        margin: 0;
        position: inherit;
    
    }
    
    .big_img{
        margin-bottom: 79%;
    }
    .big_img,
    .big_post_img{
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
    .big_post_img{
        display: block;
    }
    .see_1{
        margin: 0;
    }
    .button_tel{
        display: none;
    }
    .first_post_description{
        width: 100%;
    }
    
    .footer_img{
        display: none;
    }
    .mentions{
        margin-left: auto;
    
    }
    .silver{
        margin-right: auto;
    }
    .right_post{
        height: auto;
    }
    .line_description{
        justify-content: center;
    }

    .footer_img{
        display: flex;
    }


}